*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: arial;
}

.navigationBar{
    position: absolute;
    width: 100%;
    height: 70px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 10px; 
    box-shadow: 0px 1px 15px grey;
}
.nav-links{
    justify-content: space-around;
    width: 50%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 14px;
    text-align: end;
}
.nav-logo{
    width: 50%;
    float: left;
}
.nav-logo img{
    float: left;
    padding-left: 25px;
    width: 12%;
}
.nav-links a{
    color: #064F04;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
}
#cont{
    background-color: #475A47;
    color: white;
    padding: 6px 8px;
    border-radius: 20px;
}

/*main cover*/
/*CoverPage*/
.coverpage{
    min-height:90vh;
}
.page-title{
    flex: 1;
    margin: auto;
    text-align: center;
}


.coverpage img{
    margin-top: 70px;
    width: 100%;
    height: 80vh;
}
.cpage{
    display: flex;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}
.page-title h1{
    font-size: 7vw;
    background:linear-gradient(to left, #8b8b8b, #2D332D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.page-title p{
    font-size: 2.7vw;
    background:linear-gradient(to left, #979797, #6d6d6d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cover-logo{
    flex: 1;
    padding: 10px 50px 0px 50px;
    margin: auto;
}
.cover-logo img{
    width: 100%;
}
.cover-buttons{
    width: 50%;
    margin: auto;
    margin-top: 25px;
}
.checkup-btn, .lmore-btn{
    padding: 10px;
    width: 100%;
    margin: 10px;
    box-shadow: 3px 2px 7px #353535c5;
    border-radius: 5px;
}
.checkup-btn{
    background-color: #475A47;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.lmore-btn{
    color: #475A47;
    font-size: 15px;
    cursor: pointer;
    border: solid 1px #475A47;
    outline: none;
}


/*LOG IN & SIGN UP*/
.login-container{
    display: none;
    background-color: rgba(78, 78, 78, 0.233);
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.login-box{ 
    background-color: white;
    width: 28%;
    box-shadow: 3px 2px 8px gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 440px;
    text-align: center;
    padding-top: 10px;
}
.exitModal{
    padding: 10px 15px;
}
.exitModal a{
    float: left;
    font-weight: lighter;
    color: #475A47;
}
.login-heading{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin: 40px;
}
.login-heading h1{
    color: #475A47;
    padding-left: 10px;
    font-size: 40px;
}
.sgn-btn{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #313F32;
    color: white;
    width: 70%;
    margin-bottom: 10px;
}
.login-start p{
    font-size: 14px;
}
.login-start{
    margin-top: 180px;
}

/*Logging in - deretso*/
.login-containerB{
    display: none;
    background-color: rgba(78, 78, 78, 0.233);
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.login-box-details{
    background-color: white;
    width: 28%;
    box-shadow: 3px 2px 8px gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 440px;
    text-align: center;
    padding: 30px 30px;
}
.login-box-details a{
    float: left;
    color: #313F32;
}
.logToForm{

}
input[type=email], input[type=password]{
    width: 100%;
    padding: 6px;
    margin-bottom: 7px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #475A47;
    outline: none;
}
.logToForm label{
    float: left;
}
input[type=password]{
    margin-bottom: 20px;
}
.logToForm button{
    width: 70%;
    padding: 6px;
    margin-bottom: 7px;
    border: 1px solid #313F32;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}
#googleBtn{
    margin-top: 7px;
}
.logSoc{
    background-color: #313F32;
    color: white;
}

/*FORMS STYLE*/
.patientsForm{
    display: none;
    background-color: rgba(78, 78, 78, 0.233);
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.formsPages{
    min-height: 100vh;
}
.details{
    background-color: white;
}
.patientInfo{
    background-color: white;
    width: 40%;
    box-shadow: 3px 2px 8px gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 440px;
    text-align: center;
    padding: 30px 30px;
}
input[type=text], input[type=date], input[type=email], input[type=number]{
    width: 100%;
    padding: 5px;
    margin: 3px 0;
    border: none;
    border-bottom: 1px solid #5d7c5d;
    outline: none;
    font-size: 15px;
}
.patientInfo label{
    padding: 3px 0;
    float: left;
    font-size: 14;
}
.patientInfo h1{
    text-align: center;
    margin-bottom: 10px;
    color: #475A47;
}

/*SUBMIT BUTTON*/
.sumitBtn{
    text-align: center;
    display: inline-flex;
}
.sumitBtn button{
    margin: 0 10px;
    width: 100%;
    padding: 7px 25px;
    background-color: #475A47;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    margin-top: 18px;
    cursor: pointer;
    border-radius: 5px;
}

/*smooth scroll*/
html{
    scroll-behavior: smooth;
}